<div class="container">
<hr>
<h2 class="text-center">Update Profile</h2>
<hr>
    <%= form_for @profile do |f| %>
    <div class="col-12 justify-content-center card">
        <%= f.label :Name %><br>
        <%= f.text_field :fullname, placeholder: 'Enter your name', class: 'form-control' %><br><br>

        <%= f.label :DOB %><br>
        <%= f.date_field :dob, placeholder: 'Enter your Date of Birth', class: 'form-control' %><br><br>

        <%= f.label :Address %><br>
        <%= f.text_field :address, placeholder: 'Enter your address', class: 'form-control' %><br><br>

        <%= f.label :Town %><br>
        <%= f.text_field :citytown, placeholder: 'Enter your Town/City', class: 'form-control' %><br><br>

        <%= f.label :Country %><br>
        <%= f.text_field :country, placeholder: 'Enter your Country', class: 'form-control' %><br><br>

        <%= f.submit 'Update Profile', class:'btn btn-success' %><br><br>
        <%= link_to "Cancel", profile_path, class:'btn btn-danger' %>

        <% end %>
        </div>
    </div>
</div>