<div class="container">
    <hr>
        <Marquee><h2>Register Product</h2></Marquee>
    <hr>
    <%= form_for @product do |f| %>

    <div class="field" style="100%">
        <% if @product.errors.any? %>
    <div id="error_explanation">
    <h2>
    <%= pluralize(@product.errors.count, "error") %>
    prohibted this from being saved:
    </h2>

    <p>
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
    <li>
    <%= msg %>
    </li>
    </ul>
    <% end %>
    </p>

    <% if alert %>
    <%= alert %>
    <% end %>

    </div>
    <% end %>
        <div class="card">
        <%= f.select :user_id, User.all.collect {|x| [x.username, x.id]}, {:include_blank => 'Select User'}, class: 'form-control'%><br><br>
        <%= f.text_field :brand, placeholder: 'Enter product brand', class: 'form-control' %><br><br>
        <%= f.number_field :avgcost, placeholder: 'Enter product avgcost', class: 'form-control' %><br><br>
        <%= f.text_field :category, placeholder: 'Enter product category', class: 'form-control' %><br><br>
        <%= f.date_field :releasedate, placeholder: 'Enter product release date', class: 'form-control' %><br><br>
        <%= f.text_area :description, placeholder: 'Enter product description', class: 'form-control' %><br><br>
        <%= f.file_field :productphoto %><br><br>
        <%= f.submit 'Register Product' %>
        <% end %>
        </div>
    </div>

</div>