<div class="container">
    <div class="row">
        <div class="col-1 ">
        </div>

        <div class="col-10 justify-content-center">
        <hr>
        <h2 class="text-center">Product</h2>
        <hr>
        <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <br>
                    <br>
                    <%= image_tag(@product.productphoto.url, class: "img-fluid") %>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                    <br>
                    <br>
                    <p>Brand Name: <%=  @product.brand %></p><br>
                    <p>Average Cost: £<%=  @product.avgcost %></p><br>
                    <p>Category: <%=  @product.category %></p><br>
                    <p>Release Date: <%=  @product.releasedate %></p><br>
                    <p>Description: <%=  @product.description %></p><br>
                    <a href="#"> <%= link_to "Return to List", products_path %> </a><br><br>
                    <a href="#"> <%= link_to "Add Review", new_review_path %> </a><br><br>
                </div>
            </div>
        </div>

        <div class="col-1">
        </div>

    </div>

    <div class="row">
        <div class="col-1 ">
        </div>

        <div class="col-10 justify-content-center">
        <hr>
        <h2 class="text-center">Reviews</h2>
        <hr>
        <div class="row">
                <div class="col-md-12 mt-md-0 mt-3">

                    <br>
                    <br>
                    <p>Reviews</p>
                </div>
            </div>
        </div>

        <div class="col-1">
        </div>

    </div>

</div>