<div class="container">
<hr>
<h2 class="text-center">Update Review</h2>
<hr>
    <%= form_for @review do |f| %>
    <div class="col-12 justify-content-center card">
        <%= f.label :Update_Product %>
        <%= f.select :product_id, Product.all.collect {|x| [x.brand, x.id]}, {:include_blank => 'Select Product'}, class: 'form-control'%><br><br>

        <%= f.label :Update_User %>
        <%= f.select :user_id, User.all.collect {|x| [x.username, x.id]}, {:include_blank => 'Select User'}, class: 'form-control'%><br><br>

        <%= f.label :Update_Author %>
        <%= f.text_field :author, placeholder: 'Update Author name', class: 'form-control' %><br><br>

        <%= f.label :Update_Rating %>
        <%= f.number_field :rating, placeholder: 'Update rating (out of 5)', class: 'form-control' %><br><br>

        <%= f.label :Upload_New_Photo %>
        <%= f.text_area :reviewcontent, placeholder: 'Update your review', class: 'form-control' %><br><br>
        
        <%= f.label :Upload_New_Photo %>
        <%= f.date_field :date, placeholder: 'Update review date', class: 'form-control' %><br><br>

        <%= f.submit 'Update Review', class:'btn btn-success' %><br><br>
        <%= link_to "Cancel", review_path, class:'btn btn-danger' %>

        <% end %>
    </div>
</div>


        
        
        
        
        
        
        